html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to right, #70d3be, #d6a87c);
}

.navi-bar-top {
    text-align: center;
}

.navi-bar-top ul li{
    list-style-type: none;
    display: inline-block;
}

.navi-bar-top ul li a{
    text-decoration: none;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('/images/bg1.jpg');
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bbeef7;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}

.btn {
    border-radius: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(188, 242, 250);
    font-size: 135%;
    padding: 10px 20px;
    border: solid rgb(188, 242, 250) 3px;
    background: rgba(48, 207, 235, 0.3);
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}

p {
    font-size: 160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}

.video-container {
    position:relative;
	padding-bottom:48.85%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

footer {
    font-size: .2em;
}