@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

@keyframes whiteHover {
    from {
        color: rgb(255, 255, 255);
    }

    to {
        color:rgb(43, 75, 255);
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to right, #a6e7e9, #f5ede5);
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 210%;
    text-align: center;
    margin: 3%;
}

.navi-bar-top {
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(179,243,255,1));
}

.navi-bar-top ul {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.navi-bar-top ul li{
    margin: 0px;
    padding: 0px 10px 10px 0px;
    list-style-type: none;
    display: inline-block;
}

.navi-bar-top ul li a{
    font-size: 1em;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

.navi-bar-top ul li a:hover{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    animation: whiteHover 0.3s ease-in 0s 1 normal none;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('/images/bg1.jpg');
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    /* max-width: 500px; */
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bbeef7;
    text-shadow: 0px 0px 300px #000;
    font-size: 4em;
}

.content-photo {
    padding: 5%;
}

.content-photo img {
    height: auto;
    max-width: 100%;
}

#btn {
    border-radius: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(188, 242, 250);
    font-size: 135%;
    padding: 10px 20px;
    border: solid rgb(188, 242, 250) 3px;
    background: rgba(48, 207, 235, 0.3);
    text-transform: uppercase;
    text-decoration: none;
}

#btn:hover {
    color: #fff;
    border: solid #fff 3px;
}

/* .video-container {
    position:relative;
	overflow:hidden;
} */

.video-container iframe, .video-container object, .video-container embed {
    max-width: 80%;
    height: 100%;
    width: 100%;
}

#copyright-text {
    font-size: 0.8em;
    text-align: center;
}